{% extends 'base.html.twig' %}

{% block title %}Création d'un artiste{% endblock %}

{% block body %}

    <h1 class="text-primary text-center">Créer un artiste</h1>
    {{ form_start(form) }}

    <div id="user-form" class="d-flex flex-column align-items-center m-5">
        <div class="form-row w-50">
            <div class="form-group">
                {{ form_row(form.nickname) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="form-row w-50">
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
        </div>
        {{ form_row(form._token) }}
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary mt-4" value="Valider"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
