{% extends 'base.html.twig' %}

{% block title %}Modification de mon profil{% endblock %}

{% block body %}
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8">
                <div class="card-register card bg-dark text-white">
                    <div class="card-body p-5 text-center">
                        <div class="mt-md-4">
                            {{ form_start(form) }}
                            <h2 class="fw-bold mb-2 text-uppercase">Modifier mon profil</h2>
                            <div class="form-outline form-white mb-4">
                                {{ form_row(form.nickname) }}
                            </div>
                            <div class="form-outline form-white mb-4">
                                {{ form_row(form.urlProfilPicture) }}
                            </div>
                            <div class="form-outline form-white mb-4">
                                {{ form_row(form.description) }}
                            </div>
                            <button type="submit" class="btn btn-outline-light btn-lg px-5"
                                    value="Valider">
                                Modifier
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
