{#
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8">
            <div class="card-register card bg-dark text-white">
                <div class="card-body p-5 text-center">
                    <div class="mt-md-4">
                        {{ form_start(form) }}
                        <h2 class="fw-bold mb-2 text-uppercase">Créer la fiche d'une oeuvre</h2>
                        <div class="form-outline form-white mb-4">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="form-outline form-white mb-4">
                            {{ form_row(form.pictureArt) }}
                        </div>
                        <div class="form-outline form-white mb-4">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="form-outline form-white mb-4">
                            {{ form_row(form.city) }}
                        </div>
                        <div hidden>
                            {{ form_row(form.latitude) }}
                        </div>
                        <div hidden>
                            {{ form_row(form.longitude) }}
                        </div>
                        <div>
                            {{ include('components/_map.html.twig') }}
                        </div>
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-outline-light btn-lg px-5"
                                value="Valider">
                            Créer
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#}

<div class="container-fluid mh-100">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 d-flex justify-content-center">{{ include('components/_map.html.twig') }}</div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="form-group w-50">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group w-50">
                    {{ form_label(form.pictureArt) }}
                    {{ form_widget(form.pictureArt) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group w-50">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group w-50">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div hidden>
                    {{ form_row(form.latitude) }}
                </div>
                <div hidden>
                    {{ form_row(form.longitude) }}
                </div>
                {{ form_row(form._token) }}
                    <button type="submit" class="btn btn-outline-light btn-lg px-5"
                            value="Valider">
                        Créer
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
