{% extends 'base.html.twig' %}

{% block title %} {{ artCard.title }} {% endblock %}

{% block body %}
    <script>
        let id = {{ artCard.id }}
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h1>" {{ artCard.title }} "</h1>
                <h2 class="fst-italic fs-4">{{ artCard.user.nickname }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <div class="art-homepage">
                    <img class="picture-homepage img-fluid mb-3" src="{{ artCard.pictureArt }}">
                    <p class="description-homepage">{{ artCard.description[:200] ~ (artCard.description|length > 200 ? '...') }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                {{ include('components/_map.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}