{% extends 'base.html.twig' %}

{% block title %}detail d'une oeuvre{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h1>" {{ artCard.title }} "</h1>
                <h2 class="fst-italic fs-4">{{ artCard.user.nickname }}</h2>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center mb-5">
                <div class="art-homepage">
                    <img class="picture-homepage img-fluid mb-3" src="{{ artCard.pictureArt }}">
                    <p class="description-homepage">{{ artCard.description }}</p>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center mb-5">
                <img class="picture-homepage" src="{{ asset('build/images/placeholder/map.png') }}">
            </div>
        </div>
    </div>
{% endblock %}